@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

/* Zerando as margens internas externas de todos os elementos dentro da página */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{ /*Definição de fontes padrões para certas ocasiões*/
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

.hamburguer{ /*Icone do menu*/
    /*background-color: red;*/
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100; /*Profundidade*/
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer{
    right: 16rem;
}

.line { /*Linhas do icone*/
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;

}

/*Animação do X*/
.show-menu #line1{
    transform: rotate(45deg) translate(0.3rem, 0.35rem);
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(0.3rem, -0.35rem);
}

.hamburguer span{ /* Indicador fechar */
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a044ff;
    color: #ffffff;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span:before{ /*Triangulo indicador*/
    content: "";
    position: absolute;
    border-right: .5rem solid #a044ff;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}


header{
    width: 100%;
    height: 100vh; /*Altura de visualização de quando a página for carregada*/
    overflow: hidden; /* Não gera barra de rolagem caso algum elemento fique maior*/
    position: relative;
}


/* Ocupar todo o espaço do container do header */
.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
}





/* Limitando a imagem a ficar estritamente dentro do .img-wrapper*/
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Como o elemento é "envelopado" caso a tela for menor.*/ 
    opacity: 0.5;
    animation: zoom 25s; /* Animação */
}

@keyframes zoom{ /* Configuração animação */
    0%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1{
    color: #ffffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0,0,0,.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner p{
    font-family: var(--font-secundary);
    color: #fff;
    font-size: 2rem;
    text-shadow: .3rem .4rem rgba(0,0,0,.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;

}

.banner button{
    font-family: var(--font-action);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #6a3093;
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
    background: linear-gradient(to right, #a044ff, #6a3093);
    padding: 1rem 2rem;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer; 
    opacity: 0;
    animation: moveBanner 1s 0.9s  forwards;
   
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar{  /*Menu lateral*/
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
}

.show-menu .sidebar{ /*Animação*/
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /*Centralizar usando eixo X e Y.*/
}

.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s; /*Transição de cor para suavizar o efeito do hover*/
}

.menu-link:hover{
    color: #6a3093;
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex; /*Distribuição de icones*/
    justify-content: space-evenly;
}

.social-media i{
    background-color: #6a3093;
    color:rgba(255, 255, 255, 1);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}  

.social-media i:hover{
    background-color: #a044ff;
}

.conhecimentos{ /*Grid 16x6*/
    display: grid;
    grid-template-columns: repeat(16,1fr); /* Adicionando 16 colunas */
    grid-template-rows: repeat(6, 6rem); /*Adicionando 6 linhas com altura de 4rem*/
    row-gap: .5rem;
}
.conhecimento:nth-child(1){ 
    grid-column: 4 / 7; /*Começar e terminar na coluna*/
    grid-row: 1 / 3;
}

.conhecimento:nth-child(2){
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}


.conhecimento:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 5 / -1;
}

.conhecimento:nth-child(4){
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(5){
    grid-column: 12 / 15;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(6){
    grid-column: 11 / 14;
    grid-row: 5 / -1;
}

.sessao-conhecimentos{
    background-color: #f5f5f5;
}

.sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;

}

.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #6a3093;
    margin-bottom: 1.5rem;
}

.conhecimento-header{
    display: flex; /*Um do lado do outro*/
    align-items: center;
    color: #4b4b4b;
}

.conhecimento-header i{
    font-size: 2.5rem;
}

.conhecimento-header h3{
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
}

.conhecimento-text {
    font-family: var(--font-secundary);
    margin-top: 1rem;
}

.conhecimentos-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 2/6;
    width: 100%;
}

.conhecimentos-img-wrapper img{
    object-fit: cover;
    width: 100%;
}
.projetos{ /*Formatação Cards*/
    display: flex;
    justify-content: space-evenly; /*Espalhamento cards*/
}

.card{ /*Tamanho*/
    width: 18rem;
    height: 25rem;
    position: relative;
}

.card-img-wrapper{/*Fundo e conteudo*/
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .5rem;
}

.card-img-wrapper img{ /*Imagem*/
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .8;
    transition: opacity .3;
}
.card:hover .card-img-wrapper img{
    opacity: .5;
}

.card-info{ /*Card informativo*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0,0,0,.6);
    transition: all .3s;
}

.card-info h2{ /*Texto do Card*/
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
}

.card-info h3{
    font-family: var(--font-secundary);
    font-weight: bolder;
    color: #ff4081;
    margin-bottom: 1.5rem; /*Espaçamento*/
}

.card-info p{
    font-family: var(--font-secundary);
    color:#eee;
    font-weight: 400;
    width: 80%;
    margin-bottom: 2rem; /*Espaçamento*/
}

.btn{
    background: #6a3093;
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
    background: linear-gradient(to right, #a044ff, #6a3093);
    font-family: var(--font-action);
    color: #eee;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 .1rem .8rem rgba(0,0,0,.4);
}

.card-info button{
    width: 8rem;
    height: 2.5rem;
    
}

.card:hover .card-info { /*Animação passar mouse por cima*/
    bottom: 2rem;
    opacity: 1;
    visibility: visible;

}
.sessao-contato{
   width: 100%;
   height: 100vh;
   background-color: #272727; 
   display: flex;
   align-items: center;
   justify-content: center;
}
.contato-wrapper{ /*Quadrado contato*/
    width: 60%;
    height: 30rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, .5);
}

.contato-left{
    width: 35%;
    background: linear-gradient(rgba(15, 15, 15,0.6), rgba(22,22,22,0.9)), url(imagens/contato.jpg); /*Efeito gradiente na imagem*/
    background-size:cover ;
}
.contato-right{
    width: 65%;
    background-color:#eee ;
    padding: 1rem 3rem 3rem 3rem;
}

.sessao-contato h1{
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color: #272727;
    font-size: 3rem;
    font-weight: lighter;
}

.sessao-contato form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group textarea{
    padding-top: 1rem;
    max-width: 25rem;
    max-height: 3rem;
}

.input-group{
    position: relative;
}

.field{
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var (--font-secundary);
    border-bottom: 2px dashed #636363;
    height: 3rem;
    outline: none;
    margin: 1rem 0;
}

.field-label{ /*Form caixa de texto*/
    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1.2rem;
    font-family: var(--font-secundary);
    text-transform: uppercase;
    transition: all 0.3s;
}

.field:focus ~ label{
    top:0;
    font-size:1rem;
}

.field:focus{
    border-bottom: 1px solid;
}

.btn-submit{
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
}